
#jumbotron {
    height: 100px;
    font-size: 50px;
    background-image: url(altocumulus.jpg);
    color: white;
    display: flex;
    align-items: center;
    font-family: 'Patrick Hand', cursive;

}

.current-weather {
    font-weight: bold;
}

#card-1 {
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.city-buttons {
    margin-bottom: 10px;
    ;
}

#card-body-1 {
    font-weight: bold;
}

#card-2 {
    background-color: whitesmoke;
    
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#card-3 {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#card-4 {
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}
